<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <form class="form-horizontal" method="post" role="form">
            <!-- #section:elements.form -->
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">任务名称: </label>
                <div class="col-sm-9">
                    <input name="vars[name]" class="col-xs-8 col-sm-2" type="text" value="{{.data.Name}}" required>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly">
                    任务说明: 
                </label>
                <div class="col-sm-9">
                    <textarea class="col-sm-6" name="vars[desc]" rows="5">{{.data.Desc}}</textarea>
                    {{.data}}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">是否只允许一个实例: </label>

                <div class="col-sm-9">

                    <label class="inline">
                        <input name="vars[timeout]" class="ace" type="radio" value="0" {{if eq 0 .data.Timeout}}checked{{end}}>
                        <span class="lbl middle">是</span>
                    </label>
                    &nbsp; &nbsp; &nbsp;
                    <label class="inline">
                        <input name="vars[timeout]" class="ace" type="radio"  value="1" {{if eq 1 .data.Timeout}}checked{{end}}>
                        <span class="lbl middle">否</span>
                    </label>
                    
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">cron表达式: </label>
                <div class="col-sm-9">
                    <input name="vars[cron_spec]" class="col-xs-8 col-sm-6" type="text" value="{{.data.CronSpec}}" required>   
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly">
                    命令脚本: 
                </label>
                <div class="col-sm-9">
                    <textarea class="col-sm-6" name="vars[cmd]" rows="5">{{.data.Cmd}}</textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">超时时间: </label>
                <div class="col-sm-9">
                <input name="vars[timeout]" class="col-xs-2 col-sm-2" type="text" value="{{.data.Timeout}}" required>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">邮件通知: </label>
                <div class="col-sm-9">
                    
                    <label class="inline">
                        <input name="vars[Notify]" class="ace" type="radio" value="0" {{if eq 0 .data.Notify}}checked{{end}}>
                        <span class="lbl middle">不通知</span>
                    </label>&nbsp;
                    <label class="inline">
                        <input name="vars[Notify]" class="ace" type="radio"  value="1" {{if eq 1 .data.Notify}}checked{{end}}>
                        <span class="lbl middle">执行失败时通知</span>
                    </label>&nbsp;
                    <label class="inline">
                        <input name="vars[Notify]" class="ace" type="radio"  value="2" {{if eq 2 .data.Notify}}checked{{end}}>
                        <span class="lbl middle">执行结束时通知</span>
                    </label>

                </div>
            </div>


            <div class="space-4"></div>
            <input name="id" type="hidden" value="{{.id}}">

            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>提交
                    </button>
                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>重置
                    </button>
                </div>
            </div>

        </form>
    </div><!-- /.col -->
</div>
<script>
jQuery(function($) {

})
</script>