<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <form class="form-horizontal" method="post" role="form">
            <!-- #section:elements.form -->
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">项目名: </label>
                <div class="col-sm-9">
                    
                    <input name="vars[name]" class="col-xs-8 col-sm-2" type="text" value="{{.data.Name}}" required>
                    
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">项目描述: </label>
                <div class="col-sm-9">
                    <input name="vars[desc]" class="col-xs-6 col-sm-2" type="text" required value="{{.data.Desc}}">
                    
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">类型: </label>
                <div class="col-sm-9">

                    <label class="inline">
                        <input name="vars[type]" class="ace" type="radio" value="1" {{if eq 1 .data.Type}}checked{{end}}>
                        <span class="lbl middle">本地</span>
                    </label>
                    &nbsp; &nbsp; &nbsp;
                    <label class="inline">
                        <input name="vars[type]" class="ace" type="radio"  value="0" {{if eq 0 .data.Type}}checked{{end}}>
                        <span class="lbl middle">远程</span>
                    </label>

                </div>
            </div>



            <div class="space-4"></div>
            
            <input name="id" type="hidden" value="{{.id}}">

            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>提交
                    </button>
                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>重置
                    </button>
                </div>
            </div>

        </form>
    </div><!-- /.col -->
</div>
<script>
jQuery(function($) {

})
</script>